<div class="grid  h-screen  w-full " style="justify-content: center;">
  <div class="h-auto col-12 p-0 mt-0 md:col-6 md:mt-2 " style="align-content: center;">
    <section class="container-login">
      <article class="content-login">
        <article class="header-login">
          <figure class="Logo-img-login">
            <img src="../../../../../assets/1200px-Escudo_de_Valledupar.svg.png" alt="estado joven">
          </figure>
          <div class="title">Cambio de Contraseña</div>
          <figure class="Logo-img-login" id="logo-right">
            <img src="../../../../../assets/Estado joven Color.png" alt="Logo alcaldia">
          </figure>
        </article>
        <form [formGroup]="loginForm">
          <section class="inputs">

            <label for="username">Correo Electronico</label>
            <mat-form-field appearance="outline">
              <mat-label>Correo Electronico</mat-label>
              <input formControlName="email" placeholder="usuario@valledupar-cesar.gov.co" name="email" matInput
                type="text">
              <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                Correo Erroneo.
              </mat-error>
            </mat-form-field>


            <!--start input contraseña-->
            <label for="password">Contraseña Nueva</label>
            <mat-form-field class="input-password" appearance="outline">
              <mat-label>Contraseña</mat-label>
              <input formControlName="password" placeholder="*********" name="password" matInput
                [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                La contraseña debe tener al menos 2 caracteres.
              </mat-error>
            </mat-form-field>

            <!--start input confirmar contraseña-->


            <label for="password">Confirmar Contraseña Nueva</label>
            <mat-form-field class="input-password" appearance="outline" style="margin-bottom: -19px;">
              <mat-label>Contraseña</mat-label>
              <input formControlName="confirmPassword" placeholder="*********" name="password" matInput
                [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <mat-error *ngIf="loginForm.hasError('mismatchedFields') && loginForm.controls['confirmPassword'].touched">
              <p> Las contraseñas no coinciden.</p>
            </mat-error>

            <!--end inpunt confirmar contraseña-->
            <!-- Enlace fuera del div -->

          </section>
          <div class="buttons">
            <button [disabled]="loginForm.invalid || isLoading()" (click)="changePassword()">
              <app-loadingpulso *ngIf="isLoading()"></app-loadingpulso>
              <span *ngIf="!isLoading()">Enviar</span>
            </button>

          </div>
        </form>
      </article>
    </section>
  </div>
</div>
