<p>hero-list works!</p>
<h3>Listado de Héroes</h3>

<div>
  <h3  *ngIf="deletedHero; else nothingWasDeleted">Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h3>
</div>
<div *ngIf="deletedHero; else estudent">
  <h3>Héroe borrado <small class="text-danger"> {{ deletedHero }} </small> </h3>
</div>
<ng-template #estudent>
  <p>Ng-template es para insertar elementos dentro de otro
    utilizando una etiqueta Este es un div que no se muestra , no se construlle en el DOM
  </p>
</ng-template>
<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar último héroe
</button>




<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
      class="list-group-item">
      {{ name }}
  </li>
</ul>
