<section class="container-login">
  <article class="content-login">
    <article class="header-login">
      <figure class="Logo-img-login">
        <img src="../../../../../assets/1200px-Escudo_de_Valledupar.svg.png" alt="estado joven">
      </figure>
      <div class="title">Recuperar contraseña</div>
      <figure class="Logo-img-login" id="logo-right">
        <img src="../../../../../assets/Estado joven Color.png" alt="Logo alcaldia">
      </figure>
    </article>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <section class="inputs">

        <ul>
          <li>
            Ingrese el correo electronico valido.
          </li>
          <li>
            Recibira un correo con un enlace para restablecer su contraseña.
          </li>
          <li>
            Si no recibe el correo, verifique la carpeta de spam.
          </li>
          <li>
            Si el problema persiste, comuniquese con el administrador.
          </li>
        </ul>
        <label for="username">Correo Electronico</label>
        <mat-form-field appearance="outline"  >
          <mat-label>Correo Electronico</mat-label>
          <input formControlName="email" placeholder="usuario@valledupar-cesar.gov.co" name="email" matInput
            type="text">
          <mat-error  *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
         Correo Erroneo.
          </mat-error>
        </mat-form-field>



        <a routerLink="/auth/login" class="recuperar-passwork">¿Ya tienes una cuenta?</a>
      </section>
      <div class="buttons">
        <button [disabled]="loginForm.invalid || isLoading()">
          <app-loadingpulso *ngIf="isLoading()"></app-loadingpulso>
          <span *ngIf="!isLoading()"> Enviar</span>
        </button>

      </div>
    </form>
  </article>
</section>
