/* buttondowload */


.btn {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.btn svg {
  fill: none;
  width: 20px;
  height: 26px;
  transform: translate3d(0, 0, 0);
}

.btn svg path {
  stroke: #9098A9; /* Secondary color */
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke .3s ease;
}

.btn .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  border-radius: 24px;
  border: 3px solid #9098A9; /* Secondary color */
  transition: border .3s ease;
}

.btn .progress {
  position: absolute;
  display: block;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 48px;
  border-radius: 3px;
  background: rgba(144, 152, 169, .2); /* Secondary color */
  opacity: 1;
  pointer-events: none;
  overflow: hidden;
}

.mat-mdc-progress-bar  {
  --mdc-linear-progress-active-indicator-color: #007bff; /* Primary color */
}

.btn .progress.active {
  opacity: 1;
}

.btn .progress.active::after {
  transform: scaleX(1);
}

.btn:hover .circle {
  border-color: #007bff; /* Primary color */

}

.btn.disabled-btn:hover {
  cursor: not-allowed;
}

.btn .disabled-btn:hover {
  /* Estilos cuando el mouse está sobre el botón deshabilitado */
  cursor: not-allowed; /* Puedes mantener el cursor "not-allowed" o cambiarlo según tu diseño */
  /* Otros estilos adicionales si es necesario */
}

.btn:hover svg path {
  stroke: #007bff; /* Primary color */
}

.btn:active svg {
  transform: translateY(2px);
}

.btn.pending .circle {
  border-color: #007bff; /* Primary color */
  animation: animC .6s ease-out;
  animation-delay: 2.35s;
}

.btn.pending svg {
  animation: animS .6s ease-in;
  animation-delay: 2.15s;
}

.btn.pending svg path {
  stroke: #007bff; /* Primary color */
}

@keyframes animS {
  5% {
    transform: scale(.9);
  }
  50% {
    transform: translateY(12px);
  }
  80% {
    transform: translateY(-4px);
  }
}

@keyframes animC {
  50% {
    transform: translateY(6px);
  }
  80% {
    transform: translateY(-4px);
  }
}





